/*----------  import  ----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/*----------  reset  ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*=============================================
=             Variables            =
=============================================*/
:root {
    --primary: #be2529;
    --secondary: #0d0d0d;
    --dark: #333;
    --gray: #ddd;
    --gray-light: #eee;
    --gray-hint: #555;
}

/*=====  End of  Variables  ======*/



/*=============================================
=            général            =
=============================================*/

html,
body {
    font-family: "Roboto", sans-serif;
    /* background: #eee; */
    color: #333;
}


h1,
h2,
h3,
h4 {
    font-family: 'Staatliches', cursive;
    margin: .625rem 0;
}

h3 {
    font-size: 1.125rem;
    font-weight: 400;
}

p {
    margin: .625rem 0;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1rem
}

li {
    list-style: none;
}

strong {
    color: #f6b93b;
    font-weight: 400;
}

em {
    color: #555;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/*=============================================
=            Utility            =
=============================================*/

.container {
    display: block;
    max-width: 1100px;
    margin: auto;
    height: 1500px;
}

.text-primary {
    color: var(--primary);
}

.text-primary:hover {
    opacity: 0.6;
}

.text-hint {
    font-size: .75rem;
    color: var(--gray-hint);
}

.btn {
    font-size: 1rem;
    padding: .625rem;
    border-radius: .3125rem;
    cursor: pointer;
    border: 0;
    transition: 200ms;
}

.btn-light {
    background: white;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-light:hover {
    background-color: var(--primary);
    color: white;
}

/*=====  End of Utility  ======*/


/*=============================================
=            generic            =
=============================================*/

.article-author {
    font-weight: 700;
    font-size: .875rem;
}



/*=====  End of generic  ======*/





/*=============================================
=            Section Header            =
=============================================*/

header {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center start;
    line-height: 2.1875rem;
    margin-top: .625rem
}

header .logo {
    font-size: 1.875rem;
    font-family: 'Staatliches', cursive;
    padding-left: .9375rem;
}

header a {
    display: block;
    /* padding: 1rem; */
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: .625rem .9375rem;
}

/*=====  End of Section Header  ======*/


/*=============================================
=            Section Navbar            =
=============================================*/

nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: .9375rem;
    position: sticky;
    top: 0;
}


/*=====  End of Section Navbar  ======*/


/*=============================================
=            Section Showcase            =
=============================================*/
.showcase {
    display: grid;
    /* grid: repeat(3, 1fr) / repeat(3, 1fr); */
    grid: auto / repeat(3, 1fr);
    gap: 1.25rem;
    padding: 2rem 0;
}

.showcase article:first-child {
    grid-area: 1 / 1 / 4 / 2;
    /* row-start / column-start / row-end / column-end */

}

.showcase article:last-child {
    grid-area: 1 / 3 / 4 / 4;
}

.article-small {
    display: grid;
    grid: 5rem / 5rem auto;
    column-gap: .625rem;
}

.article-small p {
    margin: .3125rem 0;
    /* white-space: nowrap; */
}



.article-small .article-content {
    grid-column: span 2;
    max-height: 3.75rem;
    overflow: hidden;

}

.article-small .article-author {
    grid-column: span 2;
}

.article-small .text-hint {
    grid-column: span 2;

}

/*=====  End of Section Showcase  ======*/