/*----------  import  ----------*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/*----------  reset  ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*=============================================
=             Variables            =
=============================================*/
:root {
    --primary: #be2529;
    --secondary: #0d0d0d;
    --dark: #333;
    --gray: #ddd;
    --gray-light: #eee;
    --gray-hint: #555;
}

/*=====  End of  Variables  ======*/



/*=============================================
=            général            =
=============================================*/

html,
body {
    font-family: 'Cormorant Garamond', serif;
    /* background: #eee; */
    color: #333;
}


h1,
h2,
h3,
h4 {
    font-weight: 700;
    margin: .625rem 0;
}

h3 {
    font-size: 1.125rem;
}

p {
    margin: .625rem 0;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1rem
}

li {
    list-style: none;
}

strong {
    color: #f6b93b;
    font-weight: 400;
}

em {
    color: #555;
}

img {
    width: 100%;
    object-fit: cover;
}

hr {
    border: 0;
    border-bottom: 1px solid var(--gray);
}

button {
    all: unset;
}

/*=============================================
=            Utility            =
=============================================*/

.container {
    display: block;
    max-width: 1100px;
    margin: auto;
    padding: 0 .625rem;
    height: 2000px;
}

.text-primary {
    color: var(--primary);
}

.text-primary:hover {
    opacity: 0.6;
}

.text-hint {
    font-size: .75rem;
    color: var(--gray-hint);
}

.btn {
    font-size: 1rem;
    font-weight: 700;
    padding: .625rem;
    border-radius: .3125rem;
    cursor: pointer;
    border: 0;
    transition: 200ms;
    line-height: normal;
}

.btn-light {
    background: white;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-light:hover {
    background-color: var(--primary);
    color: white;
}

.btn-dark {
    background: var(--dark);
    border: 1px solid var(--dark);
    color: white;
}

.btn-dark:hover {
    background-color: white;
    color: var(--dark);
}

.underline {
    border-bottom: 1px solid var(--gray);
    padding-bottom: .9375rem;
    margin-bottom: 1.25rem;
}

.mx-1 {
    margin: 0 .625rem;
}

/*=====  End of Utility  ======*/


/*=============================================
=            generic            =
=============================================*/

.article-author {
    font-weight: 700;
    font-size: .875rem;
}



/*=====  End of generic  ======*/





/*=============================================
=            Section Header            =
=============================================*/

header {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center start;
    line-height: 2.1875rem;
    margin-top: .625rem
}

header .logo {
    font-size: 1.875rem;
    font-family: 'Staatliches', cursive;
    padding-left: .9375rem;
}

header a {
    display: block;
    /* padding: 1rem; */
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: .625rem .9375rem;
}

/*=====  End of Section Header  ======*/


/*=============================================
=            Section Navbar            =
=============================================*/

nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: .9375rem;
    position: sticky;
    top: 0;
}


/*=====  End of Section Navbar  ======*/


/*=============================================
=            Section Showcase            =
=============================================*/
.showcase {
    display: grid;
    /* grid: repeat(3, 1fr) / repeat(3, 1fr); */
    grid: auto / repeat(3, 1fr);
    gap: 1.25rem;
    padding: 2rem 0;
}

.showcase article:first-child {
    grid-area: 1 / 1 / 4 / 2;
    /* row-start / column-start / row-end / column-end */

}

.showcase article:last-child {
    grid-area: 1 / 3 / 4 / 4;
}

.article-small {
    display: grid;
    grid: 5rem / 5rem auto;
    column-gap: .625rem;
}

.article-small p {
    margin: .3125rem 0;
    /* white-space: nowrap; */
}



.article-small .article-content {
    grid-column: span 2;
    max-height: 3.75rem;
    overflow: hidden;

}

.article-small .article-author {
    grid-column: span 2;
}

.article-small .text-hint {
    grid-column: span 2;

}

/*=====  End of Section Showcase  ======*/


/*=============================================
=            Section ads            =
=============================================*/
.ads {
    margin: 2.5rem 0;
    background: var(--gray);
    display: grid;
    grid: 1fr auto auto auto 1fr / 12.5rem 1fr auto 1fr;
    grid-template-areas:
        "img . . ."
        "img . title ."
        "img . paragraphe ."
        "img . form ."
        "img . . ."
}

.ads img {
    grid-area: img;
}

.ads h1 {
    grid-area: title;
    font-size: 2.1875rem;
}

.ads p {
    grid-area: paragraphe;
}

.ads form {
    grid-area: form;
    display: flex;
}

.ads input {
    margin-right: .625rem;
    border: 0;
    border-bottom: 1px solid var(--gray-hint);
    background: var(--gray);
    outline: none;
}

/*=====  End of Section ads  ======*/


/*=============================================
=            Section content            =
=============================================*/

.content {
    display: flex;
    align-items: start;
}

/*----------  content articles  ----------*/

.articles {
    flex: auto;
}

.articles article {
    display: grid;
    grid: auto / 1fr 5rem;
    grid-template-areas:
        "title img"
        "content img"
        "author img"
        "details img"
    ;
    margin-bottom: 1.25rem;
}

.articles article h3 {
    grid-area: title;
}

.articles article img {
    grid-area: img;
}

.articles article .article-content {
    grid-area: content;
}

.articles article h3,
.articles article p {
    margin: .125rem 0;
}


/*----------  content popular  ----------*/

.popular {
    /* flex: 21.875rem; */
    /* flex: 350px; */
    padding: 0 1.875rem;
    position: sticky;
    top: 2.8125rem;
}

.popular ul li {
    display: grid;
    grid: auto / 3.125rem auto;
    margin-bottom: .625rem;
}

.popular ul li div:first-child {
    place-self: center center;
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--gray);
}

.popular h3,
.popular p {
    margin: .125rem 0;
}

/*=====  End of Section content  ======*/